.container{
    clear: both;
    display: block;
    overflow: auto;
}

.main-content{
    float:left;
    box-sizing: border-box;
    width: 80%;
    padding:20px;
}

.side{
    float:right;
    box-sizing: border-box;
    width: 20%;
    padding:20px;
    
}


/*------------Tag--------------------*/
.tag{
    position: relative;
    display: inline-block;
    
    margin:10px;

}


.tag-name{
    background-color: aquamarine;
    border-radius: 15px;
    padding:5px 10px 5px 30px;
}

.tag-name:hover{
    cursor: pointer;
}

.btn-close{
    position: absolute;
    left:10px;
    opacity: 0.5;
    font-size: small;
    margin-right: 5px;
}

.btn-close:hover{
    cursor: pointer;
    font-weight: bold;
    opacity: 1;
}

/*------------gif------------*/
.gif{
    display: inline-block;
    margin:5px;
}