.tag{
    position: relative;
    display: inline-block;
    
    margin:10px;

}


.tag-name{
    background-color: aquamarine;
    border-radius: 15px;
    padding:5px 10px 5px 30px;
}

.tag-name:hover{
    cursor: pointer;
}

.btn-close{
    position: absolute;
    left:10px;
    opacity: 0.6;
    font-size: small;
    margin-right: 5px;
}

.btn-close:hover{
    cursor: pointer;
    opacity: 1;
}